/* style.css */
.people-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  grid-gap: 40px;
  max-width: 800px;
  justify-content: center;
  align-items: center;
}

.people-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.people-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.people-item:hover img {
  transform: scale(1.5);
}

.people-name {
  color: var(--color-white)
}


@media (max-width: 768px) {
  .people-grid {
    max-width: 200px;
  }
}

.navbar,
.navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 50;
  min-height: 80px;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 25px px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}

.dots {
  display: inline-block;
  color: #ffffff;
  margin-left: 6em;
  font-size: 0.9em;
}


.dots li::before {
  content: " o  ";
  color: var(--color-tertiary);
  margin-right: 0.5em;

}

.active-selection {
  background-color: #6b151c;
  border: 1px solid #f5c6cb;
  width: 200px;
}



.accordion-item {
  width: 100%;
  margin: 0 auto;
  background: #0000008c;
  color: #ffffff;
  border: none;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.accordion-header:focus {
  width: 100%;
  margin: 0 auto;
  outline: none;
  color: #000000;
  border: none;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}


.accordion-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
  background: #00000000;
  color: var(--color-primary);
  border-radius: 0px;
  border: none;
  outline: none;
  border-width: 0px;

}

.accordion-header:hover {
  background: #0000008c;
  border-width: 0px;
  color: #ffffff;

}

.accordion-button {
  background: transparent;
  border: 0px;
  outline: 0px;
  color: #ffffff;
  font-size: 0.8em;
  cursor: pointer;
  transition: color 0.3s ease;
  border-width: 0px;
  font-weight: bold;
  background-color: #00000000;
}

.accordion-button:focus {
  background: transparent;
  border: 0px;
  outline: 0px;
  color: #ffffff;
  font-size: 0.8em;
  cursor: pointer;
  transition: color 0.3s ease;
  border-width: 0px;
  font-weight: bold;
  background-color: #00000000;

}

.accordion-item:not(.collapsed) .accordion-button {
  background-color: #f8d7da00;
  border-color: #f5c6cb;
  color: var(--color-primary);
}

.accordion-item:collapsed .accordion-button {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: var(--color-red);
}

.accordion-button:hover {
  color: #ffffff;
  border-width: 0px;

}

.accordion-button::before {
  margin-left: 10px;
  transition: transform 0.3s ease;
  border-width: 0px;
}

.accordion-body {
  indent: 10px;
}

.accordion-body strong {

  color: var(--color-lime);
}

.accordion-body span {

  color: var(--color-lime);
}

.accordion-body ul li {

  margin-left: 40px;
}

.glightbox-preview {
  width: 400px;
  height: 300px;
}

.glightbox-preview-link {
  width: 400px;
  height: 300px;
}

.image-container {
  display: flex;
  max-width: 60%;
  height: auto;
  padding: 10px;
  object-fit: contain;
  margin: 0 auto;
}

.small-image {
  display: flex;
  flex: 1;
  max-width: 10%;
  height: auto;
  padding: 10px;
  object-fit: scale-down;

}


.large-image {
  display: flex;
  flex: 2;
  max-width: 100%;
  height: auto;
  padding: 10px;
  object-fit: scale-down;
}

.title {
  font-size: 1.0rem;
  color: yellow;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 0.5rem;
  }
}